html, body {
	font-family: sans-serif;
	background-size: 100% 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
body {
	background: url(../img/Default.png) no-repeat;
}
.x-clear {
	clear: both;
}
.iu-login .credits {
	text-align: center;
	margin: 20% 0 0 0;
}
.iu-login .credits a {
	text-decoration: none;
}
.iu-menu {
	background-color: #E8E8E8;
	background-image: -webkit-gradient(radial,center 50%,40,center center,350,from(#ffffff),to(rgba(255, 255, 255, 0)));
	background-position: center;
	background-repeat: repeat;
}
.iu-menu .header-wrapper {
	border-bottom: 0.1em solid #000000;
}
.iu-menu .header-wrapper ul.header {
	font-size: 150%;
	font-family: 'ImperatorBronze';
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d8db0), color-stop(50%,#4d8db0), color-stop(51%,#447c9d), color-stop(100%,#447c9d));
}
.iu-menu .header-wrapper li {
	padding: 3%;
	display: inline-block;
	text-align: center;
}
.iu-menu .header-wrapper li.first {
	width: 80%;
	color: #FFFFFF;
}
.iu-menu .header-wrapper li.last {
	width: 20%;
	background: #FFFFFF;
}
.iu-menu .header-wrapper li a {
	position: absolute;
	left: 1%;
}
.iu-menu .menu-wrapper {

}
.iu-menu .menu-wrapper ul.menu {
	width: 100%;
	padding: 5%;
}
.iu-menu .menu-wrapper ul.menu .menu-item {
	display: inline-block;
	width: 33.33%;
	padding: 5%;
}
.iu-menu .menu-wrapper ul.menu .menu-item a {
	display: block;
	background-size: 100% 100%;
	padding: 50%;
}
.iu-login {
}
.iu-login .x-dock {
	width: 100%;
}
.iu-login .content {
	padding: 0.5em;
	margin-top: 3%;
}
.iu-login .content .header {
	margin-left: 0.3em;
	margin-bottom: 0.5em;
}
.iu-login .content .form {
	background: #ffffff;
	border-radius: 0.5em;
}
.iu-login .content .form .x-panel-body {
	padding: 0.3em;
}
.iu-login .content .developer {
	text-align: center;
	margin-top: 10%;
}
.iu-login .content .developer a {
	text-decoration: none;
	color: #000000;
}
.iu-login .buttons {
	border: none;
	padding: 1em;
}
.iu-login .buttons .button {
	width: 100%;
}
.iu-news {

}
.iu-news-item-title {
	font-size: 75%;
	font-weight: bold;
}
.iu-news-item-info {
	font-size: 65%;
}
.iu-attendance {
}
.iu-attendance-item-course {
	font-size: 75%;
	font-weight: bold;
}
.iu-attendance-item-info {
	font-size: 65%;
}
.iu-courseschedule {
}
.iu-course-schedule-item-course {
	font-size: 75%;
	font-weight: bold;
}
.iu-course-schedule-item-info, .iu-course-schedule-item-faculty {
	font-size: 65%;
}
.iu-examschedule {
}
.iu-exam-schedule-item-course {
	font-size: 75%;
	font-weight: bold;
}
.iu-exam-schedule-item-info, .iu-exam-schedule-item-faculty {
	font-size: 65%;
}
.iu-result-item-course {
	font-size: 75%;
	font-weight: bold;
}
.iu-result-item-grade {
	font-size: 65%;
}
.iu-result-empty {
	font-size: 75%;
	font-weight: bold;
	text-align: center;
	padding: 1%;
}
.iu-transcript {
}
.iu-transcript-item-course {
	font-size: 75%;
	font-weight: bold;
}
.iu-transcript-item-grade {
	font-size: 65%;
}
.iu-transcript .x-toolbar {
	background: #CCCCCC;
}
.iu-cafe {
}
.iu-cafe-item-name {
	font-size: 75%;
	font-weight: bold;
}
.iu-cafe-item-details, .iu-cafe-item-timings, .iu-cafe-item-contact {
	font-size: 65%;
}
.iu-teacher {

}
.iu-teacher-item-course {
	font-size: 75%;
	font-weight: bold;
}
.iu-teacher-item-info {
	font-size: 65%;
}
