$body-bg-color: #3B70A6;
 
$base-color: #2a2b87;
$base-gradient: '#292a84';
$active-color: #292a84;

$toolbar-gradient: 'glossy';

$loading-spinner-color: #C5D9E3;

$list-color: #000000; 
$list-header-bg-color: #ffffff;
$list-header-gradient: 'glossy';

$form-bg-color: none;
$form-field-bg-color: rgba(1, 1, 1, 0);
$form-label-color: rgba(1, 1, 1, 0);
  
@import '../../../../touch-2.1.1/resources/themes/stylesheets/sencha-touch/default/all';
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-carousel;
@include sencha-indexbar;
@include sencha-list;
@include sencha-list-paging;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;