$body-bg-color: #FFFFFF;
 
$base-color: #003FA7;
$base-gradient: '#003FA7';
$active-color: #00539d;

$tabs-dark: $base-color;
$tabs-light: #555;

$loading-spinner-color: #C5D9E3;

$list-color: #000000; 
$list-header-bg-color: #ffffff;
$list-header-gradient: 'glossy';

$form-bg-color: none;
$form-field-bg-color: rgba(1, 1, 1, 0);
$form-label-color: rgba(1, 1, 1, 0);
  
@import '../../../../touch-2.1.1/resources/themes/stylesheets/sencha-touch/default/all';
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-carousel;
@include sencha-indexbar;
@include sencha-list;
@include sencha-list-paging;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;

@include pictos-iconmask(user_add);
@include pictos-iconmask(user_remove2);
@include pictos-iconmask(broadcast);
@include pictos-iconmask(calendar);
@include pictos-iconmask(user_business);
@include pictos-iconmask(doc_list);